<h1>Create Accessory</h1>
<div class="form">
    <form action='/model/create-accessory' method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" pattern="[A-Za-z0-9\s]{5,}" title="Must be at least 5 characters long, who could be English letters, digits and whitespaces" value="{{name}}" />
        <label for="name">Description</label>
        <textarea id="name" name="description">{{description}}</textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imageUrl" value="{{imageUrl}}" />
        {{#if isLoggedIn}}
            <input type="submit" value="Create">
        {{/if}}
    </form>
</div>        