<h1>Register Form</h1>
<div class="form">
    <form action='/register' method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" pattern="[A-Za-z0-9]{5,}" title="Should consist only with English letters and digits and be at least 5 characters long" value="{{username}}" />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" pattern="[A-Za-z0-9]{8,}" title="Should consist only with English letters and digits and be at least 8 characters long" value="{{password}}" />

        <label for="repeatPassword">Re-Password</label>
        <input type="password" id="repeatPassword" name="repeatPassword" value="{{repeatPassword}}" />
        <input type="submit" value="Register">
    </form>
</div>